.cardTime {
  width: 150px;
  background-color:burlywood;
  color: black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-weight: bold;
  text-align: center;
}

.cardContainer {
  width: 300px;
  height: 150px;
  background-color: burlywood;
  color: black;
  padding: 10px 10px;
  border: 1px solid white;
}