.flagBox {
  display: flex;
  height: 200px;
  width: 300px;
}

.flagLine {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex-direction:row;
}

.horizontal  {
  flex-direction:column;
}

.circles {
  border-radius: 50%;
}